<section class="contact">
    <ul class="list-unstyled contact-list">
      <li class="address"><i class="fa fa-home"></i>{{site.data.cv.personalInformation.address-line1}}, {{site.data.cv.personalInformation.address-line2}}</li>
      <li class="email"><i class="fa fa-envelope"></i><a href="mailto: {{site.data.cv.personalInformation.email}}">{{site.data.cv.personalInformation.email}}</a></li>
      <li class="phone"><i class="fa fa-phone"></i><a href="tel:{{site.data.cv.personalInformation.telephone}}">{{site.data.cv.personalInformation.telephone}}</a></li>
      <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://in.linkedin.com/in/{{site.data.cv.social.linkedin}}" target="_blank">{{site.data.cv.social.linkedin}}</a></li>
      <li class="twitter"><i class="fa fa-twitter"></i><a href="https://twitter.com/{{site.data.cv.social.twitter}}" target="_blank">{{site.data.cv.social.twitter}}</a></li>
      <li class="github"><i class="fa fa-github"></i><a href="http://github.com/{{site.data.cv.social.github}}" target="_blank">{{site.data.cv.social.github}}</a></li>
      <li class="goodreads"><i class="fa fa-book"></i><a href="https://goodreads.com/{{site.data.cv.social.goodreads}}" target="_blank">goodreads.com/{{site.data.cv.social.goodreads}}</a></li>
    </ul>
</section>
